body{
    font-family:Arial;
    font-weight:300;
    color: #3a3a3a;
}
* {
    margin:0;
    padding:0;
    border:none;
}
h1, h2{
    font-family:Arial;
    text-transform:uppercase;
    letter-spacing:4px;
    color:#252525;
}
#logo{
    float:left;
    font-size:280%;
}